bam.exe
.vs/
*.exe
*.o
*.pyc
*.bat
*.res
*.acc
*.pdb

config.lua
bam
.bam/
autoexec.cfg

objs/
backups/
logs/
data/maps
src/game/generated/server_data.h
src/game/generated/server_data.cpp
src/game/generated/protocol.h
src/game/generated/protocol.cpp
src/game/generated/nethash.cpp
moneycollector.data
teeworlds_srv
teeworlds_srv_d
*-Server
*-Debug
build/
