bam.exe
.vs/
.bam
*.exe
*.o
*.pyc
config.lua
bam
autoexec.cfg
accounts/**
data/maps
src/game/generated/server_data.h
src/game/generated/server_data.cpp
src/game/generated/protocol.h
src/game/generated/protocol.cpp
src/game/generated/nethash.cpp
teeworlds_srv
logs/**
backups/**
